@use "sass:math";
$genders: "female", "male";
$orientations: "south", "west", "east", "north", "south-west", "north-west", "south-east", "north-east";
$cols: 24;
$rows: 25;
$size: 160;


@mixin action($name, $frames, $x, $y) {
	$percentage: math.div(100, $frames);
	&.#{$name} {
		@each $orientation in $orientations {
			&.#{$orientation} {
				animation: #{$name}-#{$orientation} 1s steps(1) infinite;
				background-position-x: -#{$size * $x}px;
				background-position-y: -#{$size * $y}px;
				@warn $orientation $x $y;
				@keyframes #{$name}-#{$orientation} {
					@for $frame from 0 through $frames {
						// @if $x - $frame <= 0 {
						// 	$x: $cols + $x;
						// 	$y: $y + 1;
						// }
						#{$percentage * $frame * 1%} {
							background-position-x: -#{$size * $x}px;
							content: "#{$x}:#{$y}";
						}
						$x: $x + 1;
					}
				}
			}
			$x: $x - 1;
			@if $x - $cols <= 0 {
				$x: $cols - $x;
				$y: $y + 1;
			}
		}
	}
}

.human {
	$gender: "Female";
	$profession: "Assassin";
	$sprite: 1;
	width: #{$size}px;
	height: #{$size}px;
	bottom: 0px;
	left: 0px;
	background-size: #{$size * $cols}px #{$size * $rows}px;
	background-image: url("humans/#{$gender}_#{$profession}/#{$profession}_KamaMain/Sprite_#{$sprite}.png"),
		url("humans/#{$gender}_#{$profession}/#{$profession}_Hair/Sprite_#{$sprite}.png"),
		url("humans/#{$gender}_#{$profession}/#{$profession}_Top/Sprite_#{$sprite}.png"),
		url("humans/#{$gender}_#{$profession}/#{$profession}_Bottom/Sprite_#{$sprite}.png"),
		url("humans/#{$gender}_#{$profession}/#{$profession}_Base/Sprite_#{$sprite}.png");
	$x: 0;
	$y: 0;
	$frames: 8;
	@include action(action1, $frames, $x, $y); // iddle



	// CSS Output example:
	// @include action(example, south, 3); // example
	&.example {
		&.south {
			animation: example-south 3s steps(1) infinite;
			background-position-x: -#{$size * 8}px;
			background-position-y: -#{$size * 11}px;
			@keyframes example-south {
				0% {
					background-position-x: -#{$size * 8}px;
				}
				33% {
					background-position-x: -#{$size * 9}px;
				}
				66% {
					background-position-x: -#{$size * 10}px;
				}
				100% {
					background-position-x: -#{$size * 11}px;
				}
			}
		}
	}

}