@mixin animate($name, $duration, $repeat, $steps, $size, $x, $y, $orientation) {
	&.#{$orientation} {
		animation: #{$name}-#{$orientation} #{$duration}s steps(#{$steps}) #{$repeat};
		background-position-x: calc(#{$size} * #{$steps + $x});
		background-position-y: calc(#{$size} * #{$y});
	}
	@keyframes #{$name}-#{$orientation} {
		@content;
		100% {
			background-position-x: calc(#{$size} * #{$x});
			background-position-y: calc(#{$size} * #{$y});
		}
	}
}
.human {
	$gender: "Female";
	$profession: "Necromancer";
	$size: 160px;
	$cols: 24;
	$rows: 25;
	width: #{$size};
	height: #{$size};
	bottom: 0px;
	left: 0px;
	background-size: calc(#{$size} * #{$cols}) calc(#{$size} * #{$rows});
	background-image: url("humans/#{$gender}_WitchHunter/WitchHunter_Hat/Sprite_1.png"),
		url("humans/#{$gender}_Rogue/Rogue_DaggerMain/Sprite_1.png"),
		url("humans/#{$gender}_#{$profession}/#{$profession}_Hair/Sprite_1.png"),
		url("humans/#{$gender}_#{$profession}/#{$profession}_Top/Sprite_1.png"),
		url("humans/#{$gender}_#{$profession}/#{$profession}_Bottom/Sprite_1.png"),
		url("humans/#{$gender}_#{$profession}/#{$profession}_Base/Sprite_1.png");

	&.walk {
		$name: walk;
		$duration: 1;
		$repeat: infinite;
		$steps: 8;
		@mixin fill-animate($x, $y, $orientation) {
			@include animate($name, $duration, $repeat, $steps, $size, $x, $y, $orientation);
		}
		@include fill-animate(16, 25, south);
		@include fill-animate(8, 25, west);
		@include fill-animate(24, 25, east);
		@include fill-animate(16, 24, north);
		@include fill-animate(8, 24, south-west);
		@include fill-animate(24, 24, north-west);
		@include fill-animate(16, 23, south-east);
		@include fill-animate(8, 23, north-east);
	}
	&.run {
		$name: run;
		$duration: 0.6;
		$repeat: infinite;
		$steps: 8;
		@mixin fill-animate($x, $y, $orientation) {
			@include animate($name, $duration, $repeat, $steps, $size, $x, $y, $orientation);
		}
		@include fill-animate(24, 23, south);
		@include fill-animate(16, 22, west);
		@include fill-animate(8, 22, east);
		@include fill-animate(24, 22, north);
		@include fill-animate(16, 21, south-west);
		@include fill-animate(8, 21, north-west);
		@include fill-animate(24, 21, south-east);
		@include fill-animate(16, 20, north-east);
	}
	// @mixin action($name, $n) {
	// 	&.#{$name} {
	// 		$duration: 0.6;
	// 		$repeat: infinite;
	// 		$steps: 8;
	// 		@mixin fill-animate($x, $y, $orientation) {
	// 			@include animate($name, $duration, $repeat, $steps, $size, $x, $y, $orientation);
	// 		}
	// 		@include fill-animate(24, 23, south);
	// 		@include fill-animate(16, 22, west);
	// 		@include fill-animate(8, 22, east);
	// 		@include fill-animate(24, 22, north);
	// 		@include fill-animate(16, 21, south-west);
	// 		@include fill-animate(8, 21, north-west);
	// 		@include fill-animate(24, 21, south-east);
	// 		@include fill-animate(16, 20, north-east);
	// 	}
	// }
	@mixin action3($name, $n) {
		&.#{$name} {
			$name: #{$name};
			$duration: 0.7;
			$repeat: infinite;
			$steps: 3;
			@include animate($name, $duration, $repeat, $steps, $size, 13, #{20 - $n}, south);
			@include animate($name, $duration, $repeat, $steps, $size, 10, #{20 - $n}, west);
			@include animate($name, $duration, $repeat, $steps, $size, 7, #{20 - $n}, east);
			@include animate($name, $duration, $repeat, $steps, $size, 4, #{20 - $n}, north);
			@include animate($name, $duration, $repeat, $steps, $size, 1, #{20 - $n}, south-west);
			@include animate($name, $duration, $repeat, 1, $size, 22, #{20 - $n}, north-west) {
				0% {
					background-position-x: calc(#{$size} * 25);
					background-position-y: calc(#{$size} * #{20 - $n});
				}
				50% {
					background-position-x: calc(#{$size} * 24);
					background-position-y: calc(#{$size} * #{19 - $n});
				}
				100% {
					background-position-x: calc(#{$size} * 23);
					background-position-y: calc(#{$size} * #{19 - $n});
				}
			}
			@include animate($name, $duration, $repeat, $steps, $size, 19, #{19 - $n}, south-east);
			@include animate($name, $duration, $repeat, $steps, $size, 16, #{19 - $n}, north-east);
		}
	}
	@include action3(action1, 1);
	@include action3(action2, 2);
	@include action3(action3, 3);
	@include action3(action4, 4);
	@include action3(action5, 5);
	@include action3(action6, 6);
	@include action3(action7, 7);
	@include action3(action8, 8);
	@include action3(action9, 9);
	@include action3(action10, 10);
	@include action3(action11, 11);
	@include action3(action12, 12);
	@include action3(action13, 13);
	@include action3(action14, 14);
	@include action3(action15, 15);
	@include action3(action16, 16);
	@include action3(action17, 17);
	@include action3(action18, 18);
	&.attack {
		background-position-x: calc(#{$size} * 20);
		animation: attack 2s steps(4) infinite;
	}
	&.defend {
		background-position-x: calc(#{$size} * 29);
		animation: defend 2s steps(1) infinite;
	}
}
