.possitionTracker {
	position: absolute;
	top: 0;
	left: 0;
}
.itinerant {
	position: absolute;
	background-color: green;
}
.menu {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 40px;
	z-index: 1;
}
